<div class='form-group col-12'>
  <div class='float-left submitbar-left'>
    <% if show_submit_button %>
      <div class='btn-group dropup submitbar-submit-group'>
        <button type='submit' class='btn btn-primary submitbar-save'>
          <%= submit_button_text %>
        </button>
        <% if show_submit_menu %>
          <button type='button' class='btn btn-primary dropdown-toggle dropdown-toggle-split submitbar-next-action-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <span class='sr-only'>Toggle Dropdown</span>
          </button>
          <div class='dropdown-menu submitbar-next-action-menu' role='menu'>
            <% if show_submit_and_dup_button %>
              <button type='submit' name='next_action' class='dropdown-item submitbar-duplicate' value='duplicate'>
                <%= submit_button_text %> and duplicate
              </button>
            <% end %>
            <% if show_submit_and_new_button %>
              <button type='submit' name='next_action' class='dropdown-item submitbar-new' value='new'>
                <%= submit_button_text %> and new
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% extra_buttons.each do |text:, url:, options:| %>
      <%= link_to text, url, options %>
    <% end %>
    <% if show_cancel_button %>
      <%= link_to cancel_button_text, cancel_button_url, class: 'btn btn-default submitbar-cancel', rel: 'nofollow' %>
    <% end %>
  </div>
  <% if right_buttons.any? %>
    <div class='float-right submitbar-right'>
      <% right_buttons.each do |text:, url:, options:| %>
        <%= link_to text, url, options %>
      <% end %>
    </div>
  <% end %>
</div>
